#-----------------------------------------------------------------------------
#Min    Hour    Day     Month   Weekday Command
#-----------------------------------------------------------------------------
0       0       *       *       *       tmpwatch 3d $TMPDIR
